/**
 *
 * Styles for a dialpad button.
 *
 * The `.dialpad-btn` class provides styling for a button commonly used in dialpad interfaces.
 * It includes properties for cursor, layout, background color, and rounded corners.
 * It also defines styles for the title and subtitle elements within the button.
 *
 */

.dialpad-btn {
  cursor: pointer;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);

  @include rounded;

  &__title {
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
  }

  &__subtitle {
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.125rem;
  }
}
