/**
 *
 * Styles for an input element.
 *
 * The `.input-element` class provides styling for an input element, defining properties
 * for padding, font size, background color, and border radius. These styles help create
 * a visually appealing and user-friendly input field.
 *
 */
.input-element {
  padding: 0.5rem 0.75rem;
  font-size: 1.75rem;
  background-color: gray;
  border-radius: 1rem;
}
